<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Каталог - 2уровень
		include inc/head.pug
		include inc/css.pug
	body.inner.loading
		include inc/top-serach.pug 
		header.head(style="background-image: url(img/photos/inner-header-bg.jpg)")
			.head__wrap
				.head__logo
					a.logo(href="#")
						img(src="img/logo.svg")
				nav.head__menu
					ul.h-menu
						each link, i in ["Продукция", "Логистика", "О компании", "Полезное", "Контакты", ]
							li
								if (i == 0)
									a.h-menu__link.active(href="#")=link
								else
									a.h-menu__link(href="#")=link
				.head__search
					a.search-link(href="#")
				.head__contacts
					.h-contacts
						address.h-contacts__phone
							a(href="tel: 8 351 211 00 70") 8 351 211 00 70
						.h-contacts__btn
							a.default-btn.fancybox(href="#") Заказать звонок
				.head__burger
					.burger
						span
			.head__title
				.wrapper
					.title-block
						.title-block__text
							.title-block__title
								h1 Трубы стальные
							.title-block__crumbs
								.bread-crumbs
									a.bread-crumbs__link(href="#") Главная страница
									a.bread-crumbs__link(href="#") Каталог продукции
									span.bread-crumbs__this Трубы стальные
						.title-block__btn
							a.write-btn.fancybox(href="#") Оставить заявку
		main#content
			.inner-content
				.inner-content__content
					section.catalog
						.catalog__top
							.wrapper
								.catalog-text.catalog-text--reverse
									.catalog-text__text
										.catalog-text__text-title Трубы стальные могут быть
											br
											| различных сечений
										.catalog-text__text-text
											p Круглых – самая распространенная форма, преимущества – максимальный объем при минимальной поверхности, оптимально для противостояния внутреннему и внешнему давлений, технологичность исполнения, минимальный расход материала при изготовлении. Применяются для перемещения газов и жидкостей
											p Прямоугольных – используются, когда известно направление приложенного вектора максимальной нагрузки. Используются при возведении колонн, вышек, опор, каркасов
											p Квадратных –  конструктивная прочность и жесткость, упрощенный монтаж,  низкая металлоемкость при изготовлении, логистическое преимущество. Используются при возведении колонн, вышек, опор, каркасов
									figure.catalog-text__img
										img(src="img/photos/catalog-img.jpg")
						.catalog__filter
							.wrapper
								.mc-filter
									form
										.mc-filter__form
											.mc-filter__inputs
												.form__inputs.form__inputs--4
													.form__inputs-input.form__inputs-input--2
														.default-input
															select.default-input__input.default-input__input--select
																option(value="l" lol="sdf" rofl="sdfad") Трубы стальные
																option Трубы стальные
																option Трубы стальные
																option Трубы стальные
																option Трубы стальные
																option Трубы стальные
																option Трубы стальные
																option Трубы стальные
																option Трубы стальные
																option Трубы стальные
																option Трубы стальные
																option Трубы стальные
																option Трубы стальные
																option Трубы стальные
																option Трубы стальные
																option Трубы стальные
																option Трубы стальные
																option Трубы стальные
																option Трубы стальные
																option Трубы стальные
																option Трубы стальные
																option Трубы стальные
																option Трубы стальные
																option Трубы стальные
																option Трубы стальные
																option Трубы стальные
															label.default-input__label Тип
													.form__inputs-input.form__inputs-input--2
														.default-input
															select.default-input__input.default-input__input--select
																option Трубы электросварные
																option Трубы электросварные
																option Трубы электросварные
																option Трубы электросварные
															label.default-input__label Подтип
													.form__inputs-input
														.default-input
															select.default-input__input.default-input__input--select
																option 0.3 мм
																option 0.3 мм
																option 0.3 мм
																option 0.3 мм
															label.default-input__label диаметр
													.form__inputs-input
														.default-input
															select.default-input__input.default-input__input--select
																option 3 см
																option 3 см
																option 3 см
																option 3 см
															label.default-input__label толщина стенки
													.form__inputs-input
														.default-input
															select.default-input__input.default-input__input--select
																option Сталь
																option Сталь
																option Сталь
																option Сталь
															label.default-input__label Сталь
													.form__inputs-input
														.default-input
															select.default-input__input.default-input__input--select
																option Гост
																option Гост
																option Гост
																option Гост
															label.default-input__label Гост
											.mc-filter__btn
												input.default-btn(type="submit" value="Применить фильтр")
						.catalog__container
							.wrapper
								.catalog2-list
									.catalog-list
										each title in ["Трубы электросварные обечаечные 630-3500 мм", "Насосно-компрессорные трубы НКТ", "Труба обсадная", "Трубы бурильные (сбт)", "Трубы водогазопроводные стальные (ВГП) ГОСТ 3262", "Трубы электросварные", "Профильные трубы"]
											.catalog-list__item
												a.cat-item(href="#")
													figure.cat-item__img
														img(src="img/photos/catalog-2-img.jpg", alt=title)
													figcaption.cat-item__title=title
													.cat-item__arrow
								.catalog__form
									.mc-form
										.mc-form__title Оставить заявку
										form(action="#")
											.mc-form__inputs
												.form__inputs.form__inputs--4
													.form__inputs-input.form__inputs-input--2
														.default-input
															input.default-input__input(type="text" placeholder="Николай Владимирович Аношкин" value="Николай Владимирович Аношкин")
															label.default-input__label ФИО
															.default-input__error
																.error-text
																	<!-- текст ошибки -->
													.form__inputs-input
														.default-input
															input.default-input__input(type="tel" inputmode="tel" pattern='\\+7\\s\\([0-9]{3}\\)\\s[0-9]{3}-[0-9]{2}-[0-9]{2}' placeholder="+7 (900) 000-00-00")
															label.default-input__label телефон
															.default-input__error
																.error-text
																	<!-- текст ошибки -->
													.form__inputs-input
														.default-input
															input.default-input__input(type="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{1,63}$" inputmode="email" placeholder="mail@yandex.ru")
															label.default-input__label e-mail
															.default-input__error
																.error-text
																	<!-- текст ошибки -->
													.form__inputs-input.form__inputs-input--2
														.default-input
															textarea.default-input__input
															label.default-input__label Ваще сообщение
													.form__inputs-input.form__inputs-input--2
														.default-input
															input.default-input__input.default-input__input--file(type="file" name="file" accept="Docx, exсel, pdf, jpg, png" id="price-file")
															.default-input__input-filetext
																input.default-input__input(type="text" readonly="" placeholder="Docx, exсel, pdf, jpg, png")
																label.default-input__label-file(for="price-file")
															label.default-input__label файл с дополнительной информацией по заявке
											.mc-form__submit
												.form__submit
													.form__submit-btn
														input.default-btn(type="submit" value="Отправить")
													.form__submit-text Нажимая на кнопку отправки сообщения, я соглашаюсь
														br
														| на обработку моих 
														a(href="#") персональных данных
								.catalog__award
									.cat-award
										.cat-award__icon
											figure.cat-award__icon-img
												img(src="img/photos/catalog-award.svg")
										.cat-award__text
											.cat-award__text-title Вся наша продукция сертифицирована и соответствует ГОСТ и ТУ, что гарантируется системой контроля качества работы компании на всех этапах приема и исполнения заказа
											.cat-award__text-text
												p Мы поставляем трубную продукцию в Челябинске, во всех регионах России, в странах СНГ и Ближнего Востока на максимально удобных условиях. Наша компания берет на себя решение всех организационных вопросов, связанных с поставкой, погрузкой и транспортировкой продукции, а также таможенных вопросов и финансовых вопросов, связанных с выбором удобных для вас форм расчета.
												p Высокий профессионализм сотрудников и финансовая надежность позволили приобрести надежную репутацию и партнерские отношения на территории России и стран СНГ
						.catalog__logistic
							.main-logostic
								.main-logostic__list
									each text, i in ["Комплексная доставка — собираем продукцию от нескольких производителей (в том числе, из различных регионов РФ) в одну партию и оперативно привозим клиенту единый заказ. Это ускорит их погрузку-разгрузку, а вы получите все товары одновременно", "Подбираем оптимальный по цене и срокам вид транспорта: ж/д, авиа, морской или автомобильный, при необходимости используем сразу несколько способов доставки. Наличие собственной ж/д ветки с тупиком и козловым краном ускоряет погрузку и отправку продукции", "Тщательно комплектуем и грузим материалы, используя наиболее эффективные методы, к примеру, «куклование» труб, что позволяет сэкономить место в кузове или контейнере и разместить там больше продукции", "Все грузы обязательно страхуются, что гарантирует их полную безопасность и сохранность", ]
										.main-logostic__list-item
											.log-item(style="background-image: url('img/photos/log-bg-"+i+".jpg')")
												figure.log-item__img
													img(src="img/photos/log-img-"+i+".svg")
												figcaption.log-item__text=text
						.catalog__prev
							.wrapper
								.prev-catalog
									each title, i in ["Трубы стальные", "Детали трубопроводов", "Металлопрокат", "Изоляция труб\трубы в изоляции ", "Запорная арматура", ]
										.prev-catalog__item
											a.prev-item(href="#")
												figure.prev-item__img
													img(src="img/photos/cat-item-"+i+".jpg", alt=title)
												figcaption.prev-item__title=title
								.seo-text
									.seo-text__text
										p Трубы стальные могут быть различных сечений:
										p Круглых – самая распространенная форма, преимущества – максимальный объем при минимальной поверхности, оптимально для противостояния внутреннему и внешнему давлений, технологичность исполнения, минимальный расход материала при изготовлении. Применяются для перемещения газов и жидкостей;
										p Прямоугольных – используются, когда известно направление приложенного вектора максимальной нагрузки. Используются при возведении колонн, вышек, опор, каркасов;
											br
											| Квадратных –  конструктивная прочность и жесткость, упрощенный монтаж,  низкая металлоемкость при изготовлении, логистическое преимущество. Используются при возведении колонн, вышек, опор, каркасов;
						.catalog__advantages
							.wrapper
								.main-advantages
									.main-advantages__list
										.main-advantages__list-item.main-advantages__list-item--text
											.m-advantage-text
												.m-advantage-text__title.js__visible Качество
												.m-advantage-text__text.js__visible Вся наша продукция сертифицирована и соответствует официальным стандартам ГОСТ и ТУ. А собственный отдел контроля тщательно проверяет ее качество на всех этапах поставки
										each item,i in [{title: "Качество", text: "Вся наша продукция сертифицирована и соответствует официальным стандартам ГОСТ и ТУ. А собственный отдел контроля тщательно проверяет ее качество на всех этапах поставки"}, {title: "Ассортимент", text: "Вся наша продукция сертифицирована и соответствует официальным стандартам ГОСТ и ТУ. А собственный отдел контроля тщательно проверяет ее качество на всех этапах поставки"}, {title: "Оперативность", text: "Вся наша продукция сертифицирована и соответствует официальным стандартам ГОСТ и ТУ. А собственный отдел контроля тщательно проверяет ее качество на всех этапах поставки"}, {title: "Стоимость", text: "Вся наша продукция сертифицирована и соответствует официальным стандартам ГОСТ и ТУ. А собственный отдел контроля тщательно проверяет ее качество на всех этапах поставки"}, {title: "Гибкость", text: "Вся наша продукция сертифицирована и соответствует официальным стандартам ГОСТ и ТУ. А собственный отдел контроля тщательно проверяет ее качество на всех этапах поставки"}, {title: "Компетентность", text: "Вся наша продукция сертифицирована и соответствует официальным стандартам ГОСТ и ТУ. А собственный отдел контроля тщательно проверяет ее качество на всех этапах поставки"}, {title: "Надежность", text: "Вся наша продукция сертифицирована и соответствует официальным стандартам ГОСТ и ТУ. А собственный отдел контроля тщательно проверяет ее качество на всех этапах поставки"}, {title: "Удобство", text: "Вся наша продукция сертифицирована и соответствует официальным стандартам ГОСТ и ТУ. А собственный отдел контроля тщательно проверяет ее качество на всех этапах поставк"}, ]
											if (i == 0)
												.main-advantages__list-item
													.m-advantage.active
														figure.m-advantage__img
															include ../img/photos/advantage-0.svg
														figcaption.m-advantage__title=item.title
														span.m-advantage__text=item.text
											else
												.main-advantages__list-item
													.m-advantage
														figure.m-advantage__img
															if (i == 1)
																include ../img/photos/advantage-1.svg
															if (i == 2)
																include ../img/photos/advantage-2.svg
															if (i == 3)
																include ../img/photos/advantage-3.svg
															if (i == 4)
																include ../img/photos/advantage-4.svg
															if (i == 5)
																include ../img/photos/advantage-5.svg
															if (i == 6)
																include ../img/photos/advantage-6.svg
															if (i == 7)
																include ../img/photos/advantage-7.svg
														figcaption.m-advantage__title=item.title
														span.m-advantage__text=item.text
						.catalog__projects
							.main-projects
								.main-projects__top
									.mp-slider
										.mp-slider__arrows
											.mp-slider__arrows-left
												.swiper-button-prev
											.mp-slider__arrows-right
												.swiper-button-next
										.swiper-wrapper
											- for (let i = 0; i <= 5; i++)
												.swiper-slide
													.mp-slider__slide
														picture.mp-slider__slide-img
															if (i == 0)
																<!-- Большая картинка -->
																source(media="(min-width: 660px)" srcset="img/photos/project-slide-img-0.jpg")
																<!-- Маленькая картинка -->
																source(media="(max-width: 660px)" srcset="img/photos/project-slide-img-0.jpg")
																img
															else
																<!-- Большая картинка -->
																source.swiper-lazy(media="(min-width: 660px)" data-srcset="img/photos/project-slide-img-0.jpg")
																<!-- Маленькая картинка -->
																source.swiper-lazy(media="(max-width: 660px)" data-srcset="img/photos/project-slide-img-0.jpg")
																img
																.swiper-lazy-preloader
														.mp-slider__slide-text
															.mp-text
																a.mp-text__title(href="#") Нефтегазовое
																	br
																	| месторождение Тенгиз
																address.mp-text__address Атырауской область, Казахстан
																.mp-text__text Тенгиз - нефтегазовое месторождение в Атырауской области Казахстана, в 350 км к юго-востоку от г. Атырау. Относится к Прикаспийской нефтегазоносной провинции. 
																	br
																	| Открыто в 1979 году
								.main-projects__bot
									.tovar-slider
										.swiper-wrapper
											.swiper-slide
												a.mp-item(href="#")
													.mp-item__decor
													figure.mp-item__img
														img(src="img/photos/mp-img-0.jpg")
													figcaptin.mp-item__text
														.mp-text__title Нефтегазовое
															br
															| месторождение Тенгиз
														address.mp-text__address Атырауской область, Казахстан
														.mp-item__text-text Тенгиз - нефтегазовое месторождение в Атырауской области Казахстана, в 350 км к юго-востоку от г. Атырау. Относится к Прикаспийской нефтегазоносной провинции 
											.swiper-slide
												a.mp-item(href="#")
													.mp-item__decor
													figure.mp-item__img
														img.swiper-lazy(data-src="img/photos/mp-img-1.jpg")
														.swiper-lazy-preloader
													figcaptin.mp-item__text
														.mp-text__title Шинный центр
															br
															| Continental
														address.mp-text__address г. Калуга
														.mp-item__text-text Тенгиз - нефтегазовое месторождение в Атырауской области Казахстана, в 350 км к юго-востоку от г. Атырау. Относится к Прикаспийской нефтегазоносной провинции 
											.swiper-slide
												a.mp-item(href="#")
													.mp-item__decor
													figure.mp-item__img
														img.swiper-lazy(data-src="img/photos/mp-img-2.jpg")
														.swiper-lazy-preloader
													figcaptin.mp-item__text
														.mp-text__title Нефтегазовое
															br
															| месторождение Тенгиз
														address.mp-text__address Атырауской область, Казахстан
														.mp-item__text-text Тенгиз - нефтегазовое месторождение в Атырауской области Казахстана, в 350 км к юго-востоку от г. Атырау. Относится к Прикаспийской нефтегазоносной провинции
											.swiper-slide
												a.mp-item(href="#")
													.mp-item__decor
													figure.mp-item__img
														img.swiper-lazy(data-src="img/photos/mp-img-0.jpg")
														.swiper-lazy-preloader
													figcaptin.mp-item__text
														.mp-text__title Нефтегазовое
															br
															| месторождение Тенгиз
														address.mp-text__address Атырауской область, Казахстан
														.mp-item__text-text Тенгиз - нефтегазовое месторождение в Атырауской области Казахстана, в 350 км к юго-востоку от г. Атырау. Относится к Прикаспийской нефтегазоносной провинции 
											.swiper-slide
												a.mp-item(href="#")
													.mp-item__decor
													figure.mp-item__img
														img.swiper-lazy(data-src="img/photos/mp-img-1.jpg")
														.swiper-lazy-preloader
													figcaptin.mp-item__text
														.mp-text__title Шинный центр
															br
															| Continental
														address.mp-text__address г. Калуга
														.mp-item__text-text Тенгиз - нефтегазовое месторождение в Атырауской области Казахстана, в 350 км к юго-востоку от г. Атырау. Относится к Прикаспийской нефтегазоносной провинции 
											.swiper-slide
												a.mp-item(href="#")
													.mp-item__decor
													figure.mp-item__img
														img.swiper-lazy(data-src="img/photos/mp-img-2.jpg")
														.swiper-lazy-preloader
													figcaptin.mp-item__text
														.mp-text__title Нефтегазовое
															br
															| месторождение Тенгиз
														address.mp-text__address Атырауской область, Казахстан
														.mp-item__text-text Тенгиз - нефтегазовое месторождение в Атырауской области Казахстана, в 350 км к юго-востоку от г. Атырау. Относится к Прикаспийской нефтегазоносной провинции 
		include inc/footer.pug
		include inc/scripts.pug 