<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Главная
		include inc/head.pug
		include inc/css.pug
	body.main.loading
		include inc/header.pug 
		main#content
			section.main-slider
				.swiper-wrapper
					- for (let i = 0; i <= 3; i++)
						.swiper-slide
							.main-slider__slide
								picture.main-slider__slide-img
									if (i == 0)
										<!-- Большая картинка -->
										source(media="(min-width: 660px)" srcset="img/photos/main-slider-img.jpg")
										<!-- Маленькая картинка -->
										source(media="(max-width: 660px)" srcset="img/photos/main-slider-img.jpg")
										img
									else
										<!-- Большая картинка -->
										source.swiper-lazy(media="(min-width: 660px)" data-srcset="img/photos/main-slider-img.jpg")
										<!-- Маленькая картинка -->
										source.swiper-lazy(media="(max-width: 660px)" data-srcset="img/photos/main-slider-img.jpg")
										img
										.swiper-lazy-preloader
								.main-slider__slide-text
									.wrapper
										.ms-text
											.ms-text__link
												a.play-link.fancybox(href="#")
													span.play-link__btn
													span.play-link__text Смотреть видео
											.ms-text__text Поставка трубной продукции
												br
												| и металлопроката по России
												br
												| и всему евразийскому континенту
				.main-slider__big-counter
					.big-counter
						include ../img/big-counter.svg
						.big-counter__text
							.big-counter__text-number 1325
							.big-counter__text-subtitle Реализованных проектов
				.main-slider__dots
					.swiper-pagination
				.main-slider__counters
					.main-left-decor
					.ms-counters__cont
						.wrapper
							.ms-counters
								.ms-counters__item
									.ms-counter
										.ms-counter__text
											b 12
											br
											| лет работы
											br
											| в отрасли
								.ms-counters__item
									.ms-counter
										.ms-counter__text Свыше
											b  100 000
											br
											| тонн отгруженного металлопроката
								.ms-counters__item
									.ms-counter
										.ms-counter__text Более
											b  500
											|  постоянных
											br
											| клиентов, готовых порекомендовать нас
								.ms-counters__item
									.ms-counter
										.ms-counter__text Сотрудничаем с
											b  75
											br
											| проверенными производителями
			section.main-catalog__cont
				.main-left-decor
					.main-left-decor__text Каталог продукции
				.wrapper
					.main-catalog
						.main-catalog__filter
							.mc-filter
								form
									.mc-filter__form
										.mc-filter__inputs
											.form__inputs.form__inputs--4
												.form__inputs-input.form__inputs-input--2
													.default-input
														select.default-input__input.default-input__input--select
															option(value="l" lol="sdf" rofl="sdfad") Трубы стальные
															option Трубы стальные
															option Трубы стальные
															option Трубы стальные
															option Трубы стальные
															option Трубы стальные
															option Трубы стальные
															option Трубы стальные
															option Трубы стальные
															option Трубы стальные
															option Трубы стальные
															option Трубы стальные
															option Трубы стальные
															option Трубы стальные
															option Трубы стальные
															option Трубы стальные
															option Трубы стальные
															option Трубы стальные
															option Трубы стальные
															option Трубы стальные
															option Трубы стальные
															option Трубы стальные
															option Трубы стальные
															option Трубы стальные
															option Трубы стальные
															option Трубы стальные
														label.default-input__label Тип
												.form__inputs-input.form__inputs-input--2
													.default-input
														select.default-input__input.default-input__input--select
															option Трубы электросварные
															option Трубы электросварные
															option Трубы электросварные
															option Трубы электросварные
														label.default-input__label Подтип
												.form__inputs-input
													.default-input
														select.default-input__input.default-input__input--select
															option 0.3 мм
															option 0.3 мм
															option 0.3 мм
															option 0.3 мм
														label.default-input__label диаметр
												.form__inputs-input
													.default-input
														select.default-input__input.default-input__input--select
															option 3 см
															option 3 см
															option 3 см
															option 3 см
														label.default-input__label толщина стенки
												.form__inputs-input
													.default-input
														select.default-input__input.default-input__input--select
															option Сталь
															option Сталь
															option Сталь
															option Сталь
														label.default-input__label Сталь
												.form__inputs-input
													.default-input
														select.default-input__input.default-input__input--select
															option Гост
															option Гост
															option Гост
															option Гост
														label.default-input__label Гост
										.mc-filter__btn
											input.default-btn(type="submit" value="Применить фильтр")
						.main-catalog__slider
							- const items = [{title: "Трубы", list: ["Трубы стальные электросв арные ", "Насосно-компрессорные трубы НКТ", "Труба обсадная", "Трубы бурильные (сбт)", "Трубы водогазопроводные стальные ", "Трубы электросварные", "Профильные трубы", "Трубы бесшовные", ]}, {title: "Детали трубопроводов", list: ["Трубы стальные электросв арные ", "Насосно-компрессорные трубы НКТ", "Труба обсадная", "Трубы бурильные (сбт)", "Трубы водогазопроводные стальные ", "Трубы электросварные", "Профильные трубы", "Трубы бесшовные", ]}, {title: "Металлопрокат", list: ["Трубы стальные электросв арные ", "Насосно-компрессорные трубы НКТ", "Труба обсадная", "Трубы бурильные (сбт)", "Трубы водогазопроводные стальные ", "Трубы электросварные", "Профильные трубы", "Трубы бесшовные", ]}, {title: "Изоляция труб\\трубы в изоляции", list: ["Трубы стальные электросв арные ", "Насосно-компрессорные трубы НКТ", "Труба обсадная", "Трубы бурильные (сбт)", "Трубы водогазопроводные стальные ", "Трубы электросварные", "Профильные трубы", "Трубы бесшовные", ]}, {title: "Запорная арматура", list: ["Трубы стальные электросв арные ", "Насосно-компрессорные трубы НКТ", "Труба обсадная", "Трубы бурильные (сбт)", "Трубы водогазопроводные стальные ", "Трубы электросварные", "Профильные трубы", "Трубы бесшовные", ]}, {title: "Горячее цинкование", list: ["Трубы стальные электросв арные ", "Насосно-компрессорные трубы НКТ", "Труба обсадная", "Трубы бурильные (сбт)", "Трубы водогазопроводные стальные ", "Трубы электросварные", "Профильные трубы", "Трубы бесшовные", ]}, ]
							.mc-slider
								nav.mc-slider__nav
									ul.slider-list
										each item, i in items
											if (i == 0)
												li.slider-list__item.active
													span.slider-list__item-title=item.title
													ul.slider-links
														each link, j in item.list
															if (j == 0)
																li.slider-links__item.active=link
															else
																li.slider-links__item=link
											else
												li.slider-list__item
													span.slider-list__item-title=item.title
													ul.slider-links
														each link in item.list
															li.slider-links__item=link
								.mc-slider__sliders
									- let counter = 0
									each item, i in items
										if (i == 0)
											.mc-slider__slider.active
												.mc-slider__slider-arrows
													.swiper-button-prev
													.swiper-button-next
												.swiper-list
													.swiper-wrapper
														each link, j in item.list
															- counter++
															.swiper-slide
																a.mc-slider__slide(href="#")
																	figure.mc-slider__slide-img
																		if (j == 0)
																			img(src="img/photos/main-catalog-img-"+counter+".jpg", alt=link)
																		else
																			img.swiper-lazy(src="img/photos/main-catalog-img-"+counter+".jpg", alt=link)
																			.swiper-lazy-preloader
																	figcaption.mc-slider__slide-text=link
															if (counter == 2)
																- counter = 0
										else
											.mc-slider__slider
												.mc-slider__slider-arrows
													.swiper-button-prev
													.swiper-button-next
												.swiper-list
													.swiper-wrapper
														each link, j in item.list
															- counter++
															.swiper-slide
																a.mc-slider__slide(href="#")
																	figure.mc-slider__slide-img
																		if (j == 0)
																			img(src="img/photos/main-catalog-img-"+counter+".jpg", alt=link)
																		else
																			img.swiper-lazy(src="img/photos/main-catalog-img-"+counter+".jpg", alt=link)
																			.swiper-lazy-preloader
																	figcaption.mc-slider__slide-text=link
															if (counter == 2)
																- counter = 0
						.main-catalog__form
							.mc-form
								.mc-form__title Расчитать стоимость
								form(action="#")
									.mc-form__inputs
										.form__inputs.form__inputs--4
											.form__inputs-input
												.default-input
													input.default-input__input(type="text" placeholder="Николай Владимирович Аношкин" value="Николай Владимирович Аношкин")
													label.default-input__label Имя
													.default-input__error
														.error-text
															<!-- текст ошибки -->
											.form__inputs-input
												.default-input
													input.default-input__input(type="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{1,63}$" inputmode="email" placeholder="mail@yandex.ru")
													label.default-input__label e-mail
													.default-input__error
														.error-text
															<!-- текст ошибки -->
											.form__inputs-input
												.default-input
													input.default-input__input(type="tel" inputmode="tel" pattern='\\+7\\s\\([0-9]{3}\\)\\s[0-9]{3}-[0-9]{2}-[0-9]{2}' placeholder="+7 (900) 000-00-00")
													label.default-input__label телефон
													.default-input__error
														.error-text
															<!-- текст ошибки -->
											.form__inputs-input
												.mc-form__toggle.default-btn Оставить заявку
									.mc-form__hidden-inputs
										.form__inputs.form__inputs--2
											.form__inputs-input
												.default-input
													textarea.default-input__input
													label.default-input__label Ваще сообщение
											.form__inputs-input
												.default-input
													input.default-input__input.default-input__input--file(type="file" name="file" accept="Docx, exсel, pdf, jpg, png" id="price-file")
													.default-input__input-filetext
														input.default-input__input(type="text" readonly="" placeholder="Docx, exсel, pdf, jpg, png")
														label.default-input__label-file(for="price-file")
													label.default-input__label файл с дополнительной информацией по заявке
									.mc-form__submit
										.form__submit
											.form__submit-btn
												input.default-btn(type="submit" value="Отправить")
											.form__submit-text Нажимая на кнопку отправки сообщения, я соглашаюсь
												br
												| на обработку моих 
												a(href="#") персональных данных
						.main-catalog__bot
							.mc-bot-title Мы принимаем
								br
								| участие в крупнейших проектах
			section.main-projects__cont
				.main-left-decor
					.main-left-decor__text Наши проекты
				.main-projects
					.main-projects__top
						.mp-slider
							.mp-slider__arrows
								.mp-slider__arrows-left
									.swiper-button-prev
								.mp-slider__arrows-right
									.swiper-button-next
							.swiper-wrapper
								- for (let i = 0; i <= 5; i++)
									.swiper-slide
										.mp-slider__slide
											picture.mp-slider__slide-img
												if (i == 0)
													<!-- Большая картинка -->
													source(media="(min-width: 660px)" srcset="img/photos/project-slide-img-0.jpg")
													<!-- Маленькая картинка -->
													source(media="(max-width: 660px)" srcset="img/photos/project-slide-img-0.jpg")
													img
												else
													<!-- Большая картинка -->
													source.swiper-lazy(media="(min-width: 660px)" data-srcset="img/photos/project-slide-img-0.jpg")
													<!-- Маленькая картинка -->
													source.swiper-lazy(media="(max-width: 660px)" data-srcset="img/photos/project-slide-img-0.jpg")
													img
													.swiper-lazy-preloader
											.mp-slider__slide-text
												.mp-text
													a.mp-text__title(href="#") Нефтегазовое
														br
														| месторождение Тенгиз
													address.mp-text__address Атырауской область, Казахстан
													.mp-text__text Тенгиз - нефтегазовое месторождение в Атырауской области Казахстана, в 350 км к юго-востоку от г. Атырау. Относится к Прикаспийской нефтегазоносной провинции. 
														br
														| Открыто в 1979 году
					.main-projects__bot
						.mp-list
							- for (let i = 0; i < 3; i++)
								.mp-list__item
									a.mp-item(href="#")
										figure.mp-item__img
											img(src="img/photos/mp-img-"+i+".jpg")
										figcaptin.mp-item__text
											.mp-text__title Нефтегазовое
												br
												| месторождение Тенгиз
											address.mp-text__address Атырауской область, Казахстан
			section.main-advantages__cont
				.main-left-decor
					.main-left-decor__text Преимущества
				.wrapper
					.main-advantages
						.main-advantages__list
							.main-advantages__list-item.main-advantages__list-item--text
								.m-advantage-text
									.m-advantage-text__title Качество
									.m-advantage-text__text Вся наша продукция сертифицирована и соответствует официальным стандартам ГОСТ и ТУ. А собственный отдел контроля тщательно проверяет ее качество на всех этапах поставки
							each item,i in [{title: "Качество", text: "Вся наша продукция сертифицирована и соответствует официальным стандартам ГОСТ и ТУ. А собственный отдел контроля тщательно проверяет ее качество на всех этапах поставки"}, {title: "Ассортимент", text: "Вся наша продукция сертифицирована и соответствует официальным стандартам ГОСТ и ТУ. А собственный отдел контроля тщательно проверяет ее качество на всех этапах поставки"}, {title: "Оперативность", text: "Вся наша продукция сертифицирована и соответствует официальным стандартам ГОСТ и ТУ. А собственный отдел контроля тщательно проверяет ее качество на всех этапах поставки"}, {title: "Стоимость", text: "Вся наша продукция сертифицирована и соответствует официальным стандартам ГОСТ и ТУ. А собственный отдел контроля тщательно проверяет ее качество на всех этапах поставки"}, {title: "Гибкость", text: "Вся наша продукция сертифицирована и соответствует официальным стандартам ГОСТ и ТУ. А собственный отдел контроля тщательно проверяет ее качество на всех этапах поставки"}, {title: "Компетентность", text: "Вся наша продукция сертифицирована и соответствует официальным стандартам ГОСТ и ТУ. А собственный отдел контроля тщательно проверяет ее качество на всех этапах поставки"}, {title: "Надежность", text: "Вся наша продукция сертифицирована и соответствует официальным стандартам ГОСТ и ТУ. А собственный отдел контроля тщательно проверяет ее качество на всех этапах поставки"}, {title: "Удобство", text: "Вся наша продукция сертифицирована и соответствует официальным стандартам ГОСТ и ТУ. А собственный отдел контроля тщательно проверяет ее качество на всех этапах поставк"}, ]
								if (i == 0)
									.main-advantages__list-item
										.m-advantage.active
											figure.m-advantage__img
												img(src="img/photos/advantage-"+i+".svg")
											figcaption.m-advantage__title=item.title
											span.m-advantage__text=item.text
								else
									.main-advantages__list-item
										.m-advantage
											figure.m-advantage__img
												img(src="img/photos/advantage-"+i+".svg")
											figcaption.m-advantage__title=item.title
											span.m-advantage__text=item.text
			section.main-call__cont
				.main-left-decor
				.wrapper
					.main-call
						.mc-form
							.mc-form__title Заказать звонок
							form(action="#")
								.mc-form__inputs
									.form__inputs.form__inputs--4
										.form__inputs-input
											.default-input
												input.default-input__input(type="text" placeholder="Николай Владимирович Аношкин" value="Николай Владимирович Аношкин")
												label.default-input__label Имя
												.default-input__error
													.error-text
														<!-- текст ошибки -->
										.form__inputs-input
											.default-input
												input.default-input__input(type="tel" inputmode="tel" pattern='\\+7\\s\\([0-9]{3}\\)\\s[0-9]{3}-[0-9]{2}-[0-9]{2}' placeholder="+7 (900) 000-00-00")
												label.default-input__label телефон
												.default-input__error
													.error-text
														<!-- текст ошибки -->
										.form__inputs-input.form__inputs-input--2
											.form__submit
												.form__submit-btn
													input.default-btn(type="submit" value="Заказать")
												.form__submit-text Нажимая на кнопку отправки сообщения, я соглашаюсь на обработку моих 
													a(href="#") персональных данных
			section.main-logostic__cont
				.main-logostic__cont-title
					.main-left-decor
					.wrapper
						.main-logostic
							.main-logostic__title
								.mc-bot-title Особое внимание
									br
									| мы уделяем логистике
				.main-logostic__cont-content
					.main-left-decor
						.main-left-decor__text Логистика
					.main-logostic
						.main-logostic__list
							each text, i in ["Комплексная доставка — собираем продукцию от нескольких производителей (в том числе, из различных регионов РФ) в одну партию и оперативно привозим клиенту единый заказ. Это ускорит их погрузку-разгрузку, а вы получите все товары одновременно", "Подбираем оптимальный по цене и срокам вид транспорта: ж/д, авиа, морской или автомобильный, при необходимости используем сразу несколько способов доставки. Наличие собственной ж/д ветки с тупиком и козловым краном ускоряет погрузку и отправку продукции", "Тщательно комплектуем и грузим материалы, используя наиболее эффективные методы, к примеру, «куклование» труб, что позволяет сэкономить место в кузове или контейнере и разместить там больше продукции", "Все грузы обязательно страхуются, что гарантирует их полную безопасность и сохранность", ]
								.main-logostic__list-item
									.log-item(style="background-image: url('img/photos/log-bg-"+i+".jpg')")
										figure.log-item__img
											img(src="img/photos/log-img-"+i+".svg")
										figcaption.log-item__text=text
			section.main-geo__cont
				.main-left-decor
					.main-left-decor__text География поставок
				.wrapper
					.main-geo
						.main-geo__map
							<!-- include img/svg/main-map.svg -->
							include ../img/svg/main-map.svg
							//- img(src="img/svg/main-map.svg", alt="")
						.main-geo__mobile
							<!-- тут будет что-то для адаптива -->
						.main-geo__call
							.call
								.call__title Остались вопросы? Позвоните нам!
								address.call__phone
									a(href="tel: +7 (351) 211-00-70 ") +7 (351) 211-00-70
			section.main-partners__cont
				.main-left-decor
					.main-left-decor__text наши партнеры
				.wrapper
					.main-partners
						.main-partners__slider
							.main-partners__slider-arrows
								.swiper-button-prev
								.swiper-button-next
							.partners-slider
								.swiper-wrapper
									- for (let j = 0; j < 4; j++)
										- for (let i = 0; i < 3; i++)
											.swiper-slide
												a.partner-slide(href="#" target="_blank")
													if (i == 0 && j == 0)
														img(src="img/photos/partner-img-"+i+".jpg")
													else
														img.swiper-lazy(data-src="img/photos/partner-img-"+i+".jpg")
														.swiper-lazy-preloader
			section.main-works__cont
				.main-left-decor
					.main-left-decor__text Как мы работаем
				.wrapper
					.main-works
						each item, i in ["Вы обращаетесь к нам и высылаете заявку", "Мы принимаем и обрабатываем Вашу заявку", "Подбираем наилучшие условия оплаты и логистики", "Оформляем договор поставки, спецификацию и выставляем счет на предоплату", "Оформляете оплату", "Мы изготавливаем необходимую Вам продукцию, либо она уже в наличии", "Окончательный расчет и отгрузка продукции", "Доставляем продукцию Вам", "Приемка продукции Вами", "Приемка продукции Вами", ]
							.main-works__item
								.works-item
									.works-item__number
										.works-item__number-text
											span=(i+1)+" этап"
									.works-item__text=item
		include inc/footer.pug
		include inc/scripts.pug